<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
<!-- ng-app defines the angular application
ng-model binds the value of HTML control to application data
ng-bind binds the application data to HTML view
ng-controller it always belong to a module, it controls the data of AngularJS Application
AngularJs let you define your own directive that offers functionality to your application-->
<div ng-app="myApp" ng-controller="myCtrl">
 
<p>Input something in the input box:</p>
<p>First name : <input type="text" ng-model="fname" placeholder="Enter name here"></p>
<p>Last name : <input type="text" ng-model="lname" placeholder="Enter name here"></p>
<h1>Hello {{fullname()}}</h1>
<p ng-bind="fname" ng-switch="true"></p>
<ul>
    <li ng-repeat="x in users | filter:fname">
        {{x.fname +' '+ x.lname}}
    </li>
</ul>

<h1>{{myUrl}}</h1>
<select ng-model="myVar" >
        <option ng-repeat="x in topic" value="{{x.name}}">{{x.name}}</option>
</select>
<div w3-test-directive ></div>



</div>
<script src="./JS/myCtrl.js">   </script>
</body>
</html>